//GLOBAL STYLES
html{
    font-size: 62.5%;
}

body {
    background-color: $backgroundColor;
    color: $fontColor;
    
    font-family: $fontRegular;
    letter-spacing: 2px;
    font-size: clamp(1.6rem, 3vw, 2rem);
}

h1, 
h2, 
p {
    font-weight: 300;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    
    padding: 20px 0;
}

h2 {
    text-transform: lowercase;
    padding: 30px 0 20px;
    
}

p {
    text-transform: lowercase;
    text-align: center;
}

select,
button {
    font-family: $fontRegular;
}

button {
    background-color: $buttonColor;
    border: 1px solid $accentColor;

    padding: 20px 25px;
}


footer {
    background-color: $footerColor;

    text-align: right;

    padding: 20px 0;

    p {
        text-align: right;
        text-transform: none;
    }
}

.wrapper {
    width: 90%;
    max-width: 1020px;
    margin: auto;
}