//GLOBAL STYLES
html{
    font-size: 62.5%;
}

body {
    background-color: $backgroundColor;
    color: $fontColor;
    
    font-family: $fontRegular;
    letter-spacing: 2px;
    font-size: 1.7rem
}

header {
    min-height: 100vh;
}

main {
    max-height: 90vh;
}

h1, 
h2,
h3, 
h4, 
p {
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: clamp(2.2rem, 3vw, 8rem);
    text-transform: uppercase;
    letter-spacing: 4px;
    
    padding-top: 60px;

    position: relative;
    z-index: 10;

    &::before {
        content: '';

        background-color: $buttonColor;
        opacity: .5;
        width: 95%;
        height: 25%;

        position: absolute;
        bottom: -2%;
        left: -3%;
        z-index: -10;
    }
}

h2, 
h3, 
h4,
p {
    text-transform: lowercase;
}

h2 {
    font-size: clamp(1.8rem, 3vw 4rem);
 
    padding: 80px 0 20px;

}

h3 {
    width: clamp(1.6, 3vw, 2.2rem); 
}

h4 {
    width: clamp(1.6, 3vw, 2rem);
}


select,
button {
    color: $fontColor;

    font-family: $fontRegular;
    font-weight: 300;

}

button {
    background-color: $buttonColor;
    border: 1px solid $accentColor;

    padding: 20px 25px;
    
    transition: all 0.5s;

    &:hover,
    &:focus {
        background-color: $buttonHoverColor;
        transform: translateY(-5px);
        cursor: pointer;
    }
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}