//MAIN STYLES

//COMPUTER STYLES
.computerScreen {
    background-image: url(../styles/assets/computer.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;

    width: 100%;
    height: 90vh;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
}

.computerScreenContents {
    text-align: center;

    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;


    position: absolute;
    top: 13%;
    z-index: 10;

    h2 {
        padding-top: 50px;
    }
}

form {
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
}

select {
    border: 1px solid $accentColor;

    letter-spacing: 2px;

    padding: 10px 50px 10px 5px;
    width: 50%;

    &:focus {
        border: 4px solid $buttonHoverColor;
    }
}

.appendedQuotes {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.7rem;

        padding-top: 10px;
    }
}

p.author {
    font-size: 1.6rem;
    font-style: italic;

    padding: 15px 0 0;
}


//CLOCK TIMER STYLES
.clockContents {
    background-color: $secondaryBackgroundColor;
  
    border-radius: 10px 10px 0 0;
    padding: 15px 30px;

    display: inline-block;

    position: absolute;
    bottom: 0;
    left: 0;
    
    h3 {
        padding-bottom: 15px;
    }

    button {
        width: 100%;
        padding: 5px;
        margin-top: 15px;

        &:hover,
        &:focus {
        transform: none;
        transition: .5s all;
        background-color: $buttonHoverColor;
        }   
    }
}

.timer {
    background-color: $buttonColor;

    font-size: clamp(1.6rem, 5vw, 5.5rem);

    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}



//MUSIC STYLES
.music {
    position: absolute;
    bottom: 5%;
    right: 5%;

    h4 {
        text-align: center;
        text-transform: lowercase;
        font-weight: 300;

        padding-bottom: 10px;

        position: relative;

        &::before {
            content: '';

            background-color: $buttonColor;
            opacity: .9;

            width: 95%;
            height: 30%;

            position: absolute;
            top: 40%;
            right: 10%;
            z-index: -10;
        }
    }

    audio {
        width: 200px;

        &:hover,
        &:focus {
            border: 4px solid $buttonColor; 
        }
    }
}
