//VARIABLE DECLARATIONS

//COLORS
$backgroundColor: #CDD5D1;
$secondaryBackgroundColor: #557D87;
$modalBackgroundColor: #2D2D2D80;
$accentColor: #414141;
$fontColor: #2D2D2D;
$buttonColor: #F9F6EF;
$buttonHoverColor: #e2e2e2;
$footerColor: #8E735A;

//FONTS
$fontRegular: lft-etica-mono, sans-serif;

//IMPORTING OF PARTIALS
@import "setup";
@import "global";
@import "headerAndFooter";
@import "main";
@import "mediaQueries";