html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body,
h1,
h2,
h3,
a,
p,
ul,
li,
form,
select,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  border: none;
  background: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #CDD5D1;
  color: #2D2D2D;
  font-family: lft-etica-mono, sans-serif;
  letter-spacing: 2px;
  font-size: clamp(1.6rem, 2vw, 2rem);
}

header {
  height: 100vh;
}

h1,
h2,
p {
  font-weight: 300;
}

h1 {
  font-size: clamp(2rem, 3vw, 8rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 60px;
  position: relative;
  z-index: 10;
}

h1::before {
  content: '';
  background-color: #F9F6EF;
  opacity: .9;
  width: 95%;
  height: 25%;
  position: absolute;
  bottom: -2%;
  left: -3%;
  z-index: -10;
}

h2 {
  font-size: clamp(1.8rem, 3vw 4rem);
  text-transform: lowercase;
  padding: 80px 0 20px;
}

p {
  text-transform: lowercase;
  text-align: center;
}

select,
button {
  font-family: lft-etica-mono, sans-serif;
}

button {
  background-color: #F9F6EF;
  border: 1px solid #414141;
  padding: 20px 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

button:hover, button:focus {
  background-color: #ececec;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
}

.wrapper {
  width: 90%;
  max-width: 1020px;
  margin: auto;
}

header {
  padding: 80px 0;
}

header span {
  text-transform: lowercase;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .question {
  font-size: clamp(2rem, 3vw, 2.3rem);
  padding: 20px 0;
}

header p {
  width: 65%;
  padding: 25px 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  margin: 20px;
}

footer {
  background-color: #8E735A;
  text-align: right;
  padding: 20px 0;
}

footer p {
  font-size: 1.6rem;
  text-align: right;
  text-transform: none;
}

.computerScreen {
  background-image: url(../styles/assets/computer.png);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.computerScreenContents {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  top: 13%;
  z-index: 10;
}

.computerScreenContents h2 {
  padding-top: 50px;
}

form {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
}

select {
  border: 1px solid #414141;
  letter-spacing: 2px;
  padding: 10px 50px 10px 5px;
  width: 50%;
}

.appendedQuotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appendedQuotes p {
  font-size: 1.7rem;
  padding-top: 10px;
}

p.author {
  font-size: 1.6rem;
  font-style: italic;
  padding: 15px 0 0;
}

.clockContents {
  display: inline-block;
  background-color: #557D87;
  padding: 15px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.clockContents h3 {
  padding-bottom: 15px;
}

.clockContents button {
  width: 100%;
  padding: 5px;
  margin-top: 15px;
}

.clockContents button:hover, .clockContents button:focus {
  -webkit-transform: none;
          transform: none;
}

.timer {
  background-color: #F9F6EF;
  font-size: clamp(1.6rem, 5vw, 5.5rem);
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 940px) {
  .computerScreen {
    width: 100%;
    background-image: url(../styles/assets/iPadLandscape.png);
  }
  .computerScreenContents {
    top: 30%;
    width: 80%;
  }
  .computerScreenContents h2 {
    padding-bottom: 0;
  }
  .computerScreenContents select {
    width: 50%;
  }
  .appendedQuotes p {
    font-size: 1.6rem;
  }
  .clockContents {
    padding: 10px 20px;
  }
  .clockContents h3 {
    padding-bottom: 10px;
  }
  .timer {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  header {
    padding-bottom: 0;
  }
  h1::before {
    display: none;
  }
  h2 {
    padding-top: 30px;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .computerScreen {
    background-image: url(../styles/assets/iPadPortrait.png);
  }
  .computerScreenContents {
    top: 10%;
    width: 60%;
  }
  select {
    letter-spacing: 0;
    width: 100%;
  }
  .appendedQuotes p {
    font-size: 1.6rem;
    padding-top: 10px;
  }
}

@media (max-width: 490px) {
  .wrapper {
    width: 98%;
  }
  .computerScreen {
    background-image: url(../styles/assets/iPhone.png);
  }
  .computerScreenContents {
    top: 10%;
    width: 56%;
  }
  .computerScreenContents h2 {
    padding-top: 10px;
  }
  .appendedQuotes p {
    font-size: 1.5rem;
    padding: 0 0 10px;
  }
  footer p {
    font-size: 1.3rem;
  }
}
